.outer {
    margin: 0;
    padding: 0;
    font-family: theboldfont;
    width: 100%;
    height: 80vh;
}

.banner {
    position: absolute;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#unmuteButton {
    position: absolute; /* Absolutely position the button */
    bottom: 20px; /* Distance from the bottom */
    right: 20px; /* Distance from the right */
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1; /* Ensure the button stays above the video */
}

#unmuteButton:hover {
    background-color: rgba(0, 0, 0, 0.9); /* Darker background on hover */
}

.banner h2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    font-size: 12vw;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    line-height: 80vh;
    mix-blend-mode: screen;
    animation-name: zoom2;
    animation-delay: 2s;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
    white-space: nowrap;
}

@keyframes zoom {
    from {font-size: 21vw;}
    to {font-size: 500vw; transform: translate(-50vw);}
}
@keyframes zoom2 {
    0% {font-size: 12vw;}
    100% {font-size: 500vw; transform: translate(-30vw);}
}

@keyframes zoom3 {
    from {font-size: 12vw;}
    to {font-size: 500vw;}
}

@media (max-width: 769px) {
    .outer {
        height: 40vh;
    }

    .banner {
        height: 40vh;
    }

    .banner h2 {
        line-height: 45vh;
    }
}

@media (max-width: 426px) {
    .outer {
        height: 30vh;
    }

    .banner {
        height: 30vh;
    }

    .banner h2 {
        line-height: 35vh;
    }
}
.left-image img{
    scale:0.9;

    border-radius:45px;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
  }
  @media (max-width:1200px){
    .left-image img{
      padding-bottom:10px;
    padding-top:30px;
    box-shadow:none;
    }
  }
  .esummitbackground{
    background: linear-gradient(to bottom, #000000, #092446, rgba(68, 9, 110, 0.5), rgba(91, 60, 114, 0.6));    
  }